@model PresentationLayer.Models.UserViewModel
@using PresentationLayer.Models

@using (Html.BeginForm("UpdateStats", "User", FormMethod.Post))
{
    <body class="patternBG">
        <div class="FormTable">
            <div class="form-group registerForm">
                <section class="formBackgroundRegister">
                    @Html.HiddenFor(m => m.SingleUser.StatsID)
                    @Html.HiddenFor(m => m.SingleUser.UserID)
                    <div>
                        @Html.LabelFor(m => m.SingleUser.HoursPlayed)
                        @Html.TextBoxFor(m => m.SingleUser.HoursPlayed, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div>
                        @Html.LabelFor(m => m.SingleUser.Wins)
                        @Html.TextBoxFor(m => m.SingleUser.Wins, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div>
                        @Html.LabelFor(m => m.SingleUser.Losses)
                        @Html.TextBoxFor(m => m.SingleUser.Losses, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <br />
                    <div>
                        <input class="submitButton btn registerBtn submitRegisterButton" type="submit" value="Confirm" />
                    </div>
                    <br />
                </section>
            </div>
            <br />
        </div>
    </body>
}