@model PresentationLayer.Models.UserViewModel
@using PresentationLayer.Models
@{
    ViewBag.Title = "Leaderboards";
}
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>

<body class="patternBG">
    <h2 class="h2Styles">LEADERBOARDS</h2>

    <table class="table tableTDStyles">
        <tr>
            <th>USERNAME</th>
            <th>HOURS PLAYED</th>
            <th>WINS</th>
            <th>LOSSES</th>
            <th>W/L</th>
        </tr>
        @*DISPLAYS EVERY USER IN THE TABLE*@
        @foreach (User singleUser in Model.UserList)
        {
            <tr class="tableRows backgroundShapes">
                <td>@Html.DisplayFor(m => singleUser.Username)</td>
                <td>@Html.DisplayFor(m => singleUser.HoursPlayed)</td>
                <td>@Html.DisplayFor(m => singleUser.Wins)</td>
                <td>@Html.DisplayFor(m => singleUser.Losses)</td>
                <td>@Html.DisplayFor(m => singleUser.Ratio)</td>
            </tr>
        }
    </table>
</body>
