@model PresentationLayer.Models.UserViewModel

<section class="view menuVideo">
    <video poster="~/Images/OverwatchMenuLogo.jpg" playsinline autoplay loop>
        <source src="~/Videos/OverwatchAnimation.mp4" type="video/mp4">
    </video>
</section>

@using (Html.BeginForm("Login", "User", FormMethod.Post))
{
    <div class="FormTable">
        <div class="form-group loginForm fadeIn animated">
            <section class="formBackgroundLogin ">
                <div>
                    @Html.LabelFor(m => m.SingleUser.Username)
                    @Html.TextBoxFor(m => m.SingleUser.Username, htmlAttributes: new { @class = "form-control" })
                </div>
                <br />
                <div>
                    @Html.LabelFor(m => m.SingleUser.Password)
                    @Html.PasswordFor(m => m.SingleUser.Password, htmlAttributes: new { @class = "form-control" })
                </div>
                <br />
                <div>
                    @Html.ActionLink("Register", "Register", "User", new { area = "" }, new { @class = "submitButton btn btn-primary registerButton" })
                    <input class="submitButton btn btn-primary loginButton" type="submit" value="Login" />
                </div>
                <div>
                </div>
            </section>
        </div>
        @ViewBag.ErrorMessage
        <br />
    </div>
}