@model PresentationLayer.Models.UserViewModel

<section class="view menuVideo">
    <video poster="~/Images/OverwatchMenuLogo.jpg" playsinline autoplay loop>
        <source src="~/Videos/OverwatchAnimation.mp4" type="video/mp4">
    </video>
</section>

@using (Html.BeginForm("Register", "User", FormMethod.Post))
{
<div class="FormTable">
    <div class="form-group registerForm fadeIn animated">
        <section class="formBackgroundRegister">
            <div>
                @Html.ValidationMessageFor(m => m.SingleUser.Username)
                @Html.LabelFor(m => m.SingleUser.Username)
                @Html.TextBoxFor(m => m.SingleUser.Username, htmlAttributes: new { @class = "form-control" })
            </div>
            <br />
            <div>
                @Html.ValidationMessageFor(m => m.SingleUser.Password)
                @Html.LabelFor(m => m.SingleUser.Password)
                @Html.PasswordFor(m => m.SingleUser.Password, htmlAttributes: new { @class = "form-control" })
            </div>
            <br />
            <div>
                @Html.LabelFor(m => m.SingleUser.Email)
                @Html.TextBoxFor(m => m.SingleUser.Email, htmlAttributes: new { @class = "form-control" })
            </div>
            <br />
            <div>
                @Html.LabelFor(m => m.SingleUser.BattleNet, "Battle Net URL")
                <a target="_blank" href="https://us.battle.net/login/en/?ref=https://us.battle.net/oauth/authorize?response_type%3Dcode%26redirect_uri%3Dhttps%253A%252F%252Fplayoverwatch.com%252Fauth%252Fbnet%252Fcallback%26scope%3Daccount.full%26client_id%3Dcc72d2c0468146f8ae723e4aa7f935a4&app=oauth" data-tooltip="Login to your Overwatch profile and paste your profile career link here. ">
                <i class="fa fa-question-circle" aria-hidden="true"></i>
                </a>
                @Html.TextBoxFor(m => m.SingleUser.BattleNet, htmlAttributes: new { @class = "form-control" })
            </div>
            <br />
            <div>
                <input class="submitButton btn registerBtn submitRegisterButton" type="submit" value="Register" />
            </div>
            <br />
            <div>
                <p class="registerLoginText">Have an account? @Html.ActionLink("Login", "Login", "User")</p>
            </div>
        </section>

    </div>

    @ViewBag.ErrorMessage
    <br />
</div>
}
